<main>
  <section>
    <h1 class="section-title">National Grass</h1>
    <div class="parks-container">
      {{#each parksArray}}
        <a class="park-link" href="/national-grass/{{this.parkCode}}">
          <div class="park" title="{{this.fullName}}">
            
              <div class="park-image" style="background-image: url({{this.image.url}}), url(/images/nps-logo.png)" role="img" aria-label="{{this.image.altText}}"></div>
              <div class="park-text">
                <h1 class="park-name">{{this.fullName}}</h1>
                <div class="park-description">
                  
                    {{this.description}}                
                  
                  <div class="park-overlay">
                      <h4>Read More</h4>
                    </div>
                </div>
                <div class="park-address">
                  <h3>Address</h3>
                  {{#if this.address.line1}}
                    <p>{{this.address.line1}}</p>
                  {{/if}}
                  {{#if this.address.line2}}
                    <p>{{this.address.line2}}</p>
                  {{/if}}
                  {{#if this.address.line3}}
                    <p>{{this.address.line3}}</p>
                  {{/if}}
                    <p>
                      {{#if this.address.city}}
                        {{this.address.city}},
                      {{/if}}
                      {{#if this.address.stateCode}}
                        {{this.address.stateCode}}
                      {{/if}}
                      {{#if this.address.postalCode}}
                        {{this.address.postalCode}}
                      {{/if}}
                    </p>
                </div>
              </div>
          </div>
        </a>
      {{/each}}
    </div>
  </section>
  <section>
    <h4 class="page-title">Pages</h4>
    <div class="page-container">
      {{#each pageArray}}
        <div class="page">
          <a class="page-link {{#if this.active}}active{{/if}}" href="/national-grass?skip={{this.skip}}&limit={{this.limit}}">{{this.pageNumber}}</a>
        </div>
      {{/each}}
    </div>
  </section>
</main>